# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.venv

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
*.egg-info/

222.bmp
canny_edges.png
fnn.jpg
photo.py
train_model/exported model/*
.idea